name: Deploy to Server - Prod

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Prod

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 25

      - name: Install dependencies
        run: npm ci

      - name: Build SvelteKit
        run: npm run build
        env:
          DATABASE_URL: "postgres://user:pass@localhost:5432/dummy"

      - name: Install dependencies x
        run: ls -la .svelte-kit/
      - name: Install dependencies x2
        run: ls -la .svelte-kit/output/

      - name: Upload build to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: |
            .svelte-kit/output/**
            package.json
          target: /var/www/apps/knallmelder/current

      - name: Restart PM2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/apps/knallmelder/current
            pm2 restart knallmelder || pm2 start server.js --name knallmelder
            pm2 save
