name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 25.x   # pick a single version, e.g. LTS

    - run: npm ci

    - name: Build project
      run: npm run build --if-present
      env:
        DATABASE_URL: "postgres://user:pass@localhost:5432/dummy"

    - name: Push to build branch
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: build
        FOLDER: ./build
        GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        MESSAGE: "Build: ({sha}) {msg}"
